/*
 * photo-tourist/layout.css
 */

a:hover {
  cursor: pointer;
}

body {
  background-color: #eee;
}

/****** General ******/
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #900;
  border-color: #900;
}

/****** Navbar ******/
.navbar-static-top {
  margin-bottom: 19px;
}

.nav li form {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 220px;
}

nav.navbar {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);

  border-bottom: 1px solid #660000;
}

.navbar-inverse .dropdown-menu > .active > a {
  background-color: #900;
}
