<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ui-sref="home">
      <span class="glyphicon glyphicon-camera"></span>
      Photo Tourist</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Go To<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-class="{active: $state.includes('images')}"><a ui-sref="images({id:null})">Images</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Developer Tools</li>
            <li ui-sref-active="active"><a ui-sref="authn">Authentication Check</a></li>
          </ul>
        </li>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Search" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="login-dropdown" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span id="navbar-loginlabel">{{$ctrl.getLoginLabel()}}</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><pt-authn-session></pt-authn-session></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
