<form class="image-form form-horizontal" name="image_form">
  <span class="image-id id">{{$ctrl.item.id}}</span>

  <div class="alert alert-danger has-error form-group" ng-if="$ctrl.item.errors">
    <label class="col-sm-2 control-label text-danger">Errors</label>
    <div class="col-sm-10">
      <p ng-repeat="error in $ctrl.item.errors.full_messages">
        <span class="invalid help-block">{{error}}</span>
      </p>
    </div>
  </div>

  <div class="image-caption form-group" ng-class="{'has-error' : $ctrl.item.errors.caption && !image_form['caption'].$dirty}">
    <label class="col-sm-2 control-label" for="image-caption">Caption:</label>
    <div class="col-sm-10">
      <input class="form-control"
            name="image-caption"
            ng-model="$ctrl.item.caption"
            ng-readonly="!$ctrl.authz.canUpdate"
            maxlength="60"
            pattern=".{3,}" title="3 character minimum for Caption"/>
    </div>
    <div ng-repeat="error in $ctrl.item.errors.caption" ng-hide="image_form['caption'].$dirty">
      <p class="col-sm-2"></p>
      <p class="col-sm-10">
        <span class="invalid help-block">{{error}}</span>
      </p>
    </div>
  </div>

  <div class="image-things form-group" ng-show="$ctrl.item.id" ng-class="{'has-error' : $ctrl.item.errors.thing_images}">
    <label class="col-sm-2 control-label" for="image-image_thing">Related Things:</label>
    <div class="col-sm-10">
      <ul class="image-things">
        <li ng-repeat="ti in $ctrl.things | orderBy: priority">
          <a ui-sref="things({id: ti.thing_id})">
            <span class="id thing-id">{{ti.thing_id}}</span>
            {{ti.thing_name}}</a>
        </li>
      </ul>
    </div>
    <div ng-repeat="error in $ctrl.item.errors.thing_image" ng-hide="image_form.$dirty">
      <p class="col-sm-2"></p>
      <p class="col-sm-10">
        <span class="invalid help-block">{{error}}</span>
      </p>
    </div>
  </div>

  <div class="linkable-things form-group"
       ng-class="{'has-error' : $ctrl.item.errors.linkable_things}"
       ng-show="$ctrl.linkable_things.length > 0 && $ctrl.authz.authenticated">
    <label class="col-sm-2 control-label">Linkable Things:</label>
    <div class="col-sm-10 linkable-things">
      <select name="linkable-things"
              ng-model="$ctrl.selected_linkables"
              multiple>
        <option ng-repeat="thing in $ctrl.linkable_things | orderBy:'name'"
                value="{{thing.id}}">{{thing.name}}</option>

      </select>
    </div>
    <div ng-repeat="error in $ctrl.item.errors.thing_image" ng-hide="image_form.$dirty">
      <p class="col-sm-2"></p>
      <p class="col-sm-10">
        <span class="invalid help-block">{{error}}</span>
      </p>
    </div>
  </div>

  <div class="image-controls form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <span ng-show="$ctrl.authz.authenticated">
        <button name="image-create"
                class="btn btn-default"
                ng-show="!$ctrl.item.id && $ctrl.authz.canCreate"
                type="submit"
                ng-disabled="image_form.$invalid"
                ng-click="$ctrl.create()">Create Image</button>

        <span ng-show="$ctrl.item.id" class="btn-group">
          <button name="image-update"
                  class="btn btn-default"
                  type="submit"
                  ng-show="$ctrl.authz.canUpdate"
                  ng-disabled="!image_form.$dirty"
                  ng-click="$ctrl.update()">Update Image</button>
          <button name="image-link"
                  class="btn btn-default"
                  type="submit"
                  ng-show="!$ctrl.authz.canUpdate"
                  ng-disabled="$ctrl.selected_linkables.length==0"
                  ng-click="$ctrl.linkThings()">Link to Things</button>
          <button name="image-delete"
                  class="btn btn-default"
                  type="submit"
                  ng-show="$ctrl.authz.canDelete"
                  ng-click="$ctrl.remove()">Delete Image</button>
        </span>
      </span>
      <button name="image-clear"
              class="btn btn-default"
              type="submit"
              ng-show="$ctrl.item.id || image_form.$dirty"
              ng-click="$ctrl.clear()">Clear Image</button>
    </div>
  </div>

</form>
