<form class="thing-form form-horizontal" name="thing_form">
  <span class="thing-id id">{{$ctrl.item.id}}</span>

  <div class="alert alert-danger has-error form-group" ng-if="$ctrl.item.errors">
    <label class="col-sm-2 control-label text-danger">Errors</label>
    <div class="col-sm-10">
      <p ng-repeat="error in $ctrl.item.errors.full_messages">
        <span class="invalid help-block">{{error}}</span>
      </p>
    </div>
  </div>

  <div class="thing-name form-group" ng-class="{'has-error' : $ctrl.item.errors.name && !thing_form['name'].$dirty}">
    <label class="col-sm-2 control-label" for="thing-name">Name:</label>
    <div class="col-sm-10">
      <input class="form-control"
            name="thing-name"
            ng-model="$ctrl.item.name"
            ng-readonly="!$ctrl.authz.canUpdate"
            maxlength="40"
            required="required"
            pattern=".{3,}" title="3 character minimum for name"/>
    </div>
    <div ng-repeat="error in $ctrl.item.errors.name" ng-hide="thing_form['name'].$dirty">
      <p class="col-sm-2"></p>
      <p class="col-sm-10">
        <span class="invalid help-block">{{error}}</span>
      </p>
    </div>
  </div>

  <div class="thing-description form-group" ng-show="thing_form.$valid" ng-class="{'has-error' : $ctrl.item.errors.description && !thing_form['description'].$dirty}">
    <label class="col-sm-2 control-label" for="thing-description">Description:</label>
    <div class="col-sm-10">
      <textarea class="form-control"
            name="thing-description"
            ng-model="$ctrl.item.description"
            ng-readonly="!$ctrl.authz.canUpdate"
            type="text"
            size="80"
            maxlength="4000" />
    </div>
    <div ng-repeat="error in $ctrl.item.errors.description" ng-hide="thing_form['description'].$dirty">
      <p class="col-sm-2"></p>
      <p class="col-sm-10">
        <span class="invalid help-block">{{error}}</span>
      </p>
    </div>
  </div>

  <div class="thing-notes form-group" ng-show="$ctrl.authz.canGetDetails && thing_form.$valid" ng-class="{'has-error' : $ctrl.item.errors.notes && !thing_form['notes'].$dirty}">
    <label class="col-sm-2 control-label" for="thing-notes">Notes:</label>
    <div class="col-sm-10">
      <textarea class="form-control"
            name="thing-notes"
            ng-model="$ctrl.item.notes"
            ng-readonly="!$ctrl.authz.canUpdate"
            type="text"
            size="80"
            maxlength="4000"/>
    </div>
    <div ng-repeat="error in $ctrl.item.errors.notes" ng-hide="thing_form['notes'].$dirty">
      <p class="col-sm-2"></p>
      <p class="col-sm-10">
        <span class="invalid help-block">{{error}}</span>
      </p>
    </div>
  </div>

  <div class="thing-images form-group" ng-show="thing_form.$valid" ng-class="{'has-error' : $ctrl.item.errors.thing_images && !thing_form.$dirty}">
    <label class="col-sm-2 control-label" for="thing-images">Related Images:</label>
    <div class="col-sm-10">
      <ul class="thing-images">
        <li ng-repeat="ti in $ctrl.images | orderBy:'priority'">
          <input type="checkbox"
                 name="image-delete"
                 ng-model="ti.toRemove"
                 ng-show="$ctrl.authz.canRemoveImage"
                 value="{{ti.id}}"/>
          <div class="image-delete glyphicon glyphicon-remove" ng-show="ti.toRemove"></div>
          <input type="number"
                 name="image-priority"
                 min="0"
                 max="9"
                 ng-show="$ctrl.authz.canUpdateImage && !ti.toRemove"
                 ng-model="ti.priority"/>
          <div class="glyphicon glyphicon-asterisk"
               ng-hide="ti.originalPriority==ti.priority || ti.toRemove"></div>
          <a ui-sref="images({id: ti.image_id})">
            <img style="width:50px" ng-src="{{ti.image_content_url}}?width=50"/>
            <span class="id image-id">{{ti.image_id}}</span>
            <label class="control-label image-caption"
                   ng-show="ti.image_caption">{{ti.image_caption}}</label>
            <label class="control-label image-caption"
                   ng-hide="ti.image_caption">(no caption {{ti.image_id}})</label>
          </a>
        </li>
      </ul>
    </div>
    <div ng-repeat="error in $ctrl.item.errors.thing_images" ng-hide="thing_form.$dirty">
      <p class="col-sm-2"></p>
      <p class="col-sm-10">
        <span class="invalid help-block">{{error}}</span>
      </p>
    </div>
  </div>

  <div class="thing-controls form-group" ng-show="$ctrl.authz.authenticated">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <button name="thing-create"
              class="btn btn-default"
              ng-show="!$ctrl.item.id && $ctrl.authz.canCreate"
              type="submit"
              ng-disabled="thing_form.$invalid"
              ng-click="$ctrl.create()">Create Thing</button>

      <span ng-show="$ctrl.item.id" class="btn-group">
        <button name="thing-update"
                class="btn btn-default"
                type="submit"
                ng-disabled="thing_form.$invalid || !thing_form.$dirty"
                ng-hide="!$ctrl.authz.canUpdate ||
                          ($ctrl.hasDirtyLinks() &&
                            (!thing_form['thing-name'].$dirty &&
                             !thing_form['thing-description'].$dirty &&
                             !thing_form['thing-notes'].$dirty))"
                ng-click="$ctrl.update()">Update Thing</button>
        <button name="thing-images-update"
                class="btn btn-default"
                type="submit"
                ng-show="$ctrl.authz.canUpdate &&
                          ($ctrl.hasDirtyLinks() &&
                            (!thing_form['thing-name'].$dirty &&
                             !thing_form['thing-description'].$dirty &&
                             !thing_form['thing-notes'].$dirty))"
                ng-click="$ctrl.updateImageLinks()">Update Image Links</button>
        <button name="thing-delete"
                class="btn btn-default"
                type="submit"
                ng-show="$ctrl.authz.canDelete"
                ng-click="$ctrl.remove()">Delete Thing</button>
        <button name="thing-clear"
                class="btn btn-default"
                type="submit"
                ng-click="$ctrl.clear()">Clear Thing</button>
      </span>
    </div>
  </div>

</form>
