<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Cities</h3>
    <p><span> (from photo-tourist/cities/cities.html) </span></p>
    <p>
      <form class="form-inline">
        <div class="form-group">
          <label for="name">Name:</label>
          <div class="input-group">
            <input type="text" placeholder="City Name" class="form-control" name="name" ng-model="citiesVM.city.name" required="required">
            <span class="input-group-btn" ng-if="!citiesVM.city.id">
              <button class="btn btn-primary" type="submit" ng-click="citiesVM.create()">Add City</button>
            </span>
            <span class="input-group-btn" ng-if="citiesVM.city.id">
              <button class="btn btn-success" type="submit" ng-click="citiesVM.update()">Update City</button>
              <button class="btn btn-danger" type="submit" ng-click="citiesVM.remove()">Delete City</button>
            </span>
          </div>
        </div>
      </form>
    </p>
  </div>

  <div class="list-group">
    <a class="list-group-item" ng-class="{'active':citiesVM.city.id === city.id}" ng-click="citiesVM.edit(city)" ng-repeat="city in citiesVM.cities | orderBy: 'name'">
      {{city.name}}
    </a>
  </div>
</div>
